.nav-tabs .nav-link{
  color: green

}

.nav-tabs .nav-link:hover{
  color: green
}

.divider {
  height: 150px;
  border-left: 1px groove lightgrey;
}

.card-text-choice{
   font-size: 18px;
   text-align: center;
   /* margin-right: 20%; */
   margin: 0;
}

.card-text-choice-2{
   font-size: 18px;
   /* margin-left: 35%; */
   margin: 0;
}
